<main>
  <include src="./contact-hero-main.html"></include>
  <section>
    <article class="art1-contacto">
      <h2>Contacto</h2>
      <p class="art1-p1">
        ¿Tu página web no es lo suficientemente atractiva? Podemos
        ayudarte,contacta con nosotras. Haremos que tu página brille.
      </p>
      <p class="art1-p2">
        Todos los campos marcados con <span class="asterisco">*</span> son
        obligatorios.
      </p>
    </article>
    <article class="art2">
      <form class="formulario" action="https://dev.adalab.es/api/form">
        <!-- En action poner url para enviar datos del formulario -->
        <label for="nombre">
          <span class="span"
            >Nombre completo <span class="asterisco">*</span></span
          >
          <input
            class="input"
            type="text"
            value="Nombre..."
            name="nombre"
            id="nombre"
            autocomplete="name"
            required
          />
        </label>
        <label for="mail">
          <span class="span">Email <span class="asterisco">*</span></span>
          <input
            class="input email"
            type="text"
            value="nombre.apellidos@mail.com"
            name="mail"
            id="mail"
            autocomplete="email"
            required
          />
        </label>
        <label for="tlf">
          <span class="span">Teléfono</span>
          <input
            class="input tlfn"
            type="tel"
            value="Ej: 123456789"
            name="tlf"
            id="tlf"
          />
        </label>
        <label for="mensaje">
          <span class="span">Mensaje <span class="asterisco">*</span></span>
          <textarea class="textarea" name="mensaje" id="mensaje">
            ¿Qué necesitas? </textarea
          >
        </label>
        <input type="submit" class="boton" value="Enviar" />
      </form>
    </article>
  </section>
</main>
