<main>
      <section>
        <img src="" alt="" />
        <!-- Imagen de fondo representativa del grupo | Página principal -->
        <p>Lema del equipo</p>
      </section>

      <section class="section-1">
        <article>
          <h2 class="equipo">EQUIPO</h2>
          <div class="parrafo">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              rutrum ullamcorper mauris, vel convallis metus eleifend in. Cras
              hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat
              convallis. Morbi interdum neque et aliquam varius.
            </p>
            <p class="parrafo2">
              Vivamus feugiat eu sem sed eleifend. Morbi efficitur lorem eget
              lorem10
              
              justo sodales feugiat. Vestibulum tristique sed ante semper
              elementum. Orci varius natoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus.
            </p>
          </div>
        </article>
      </section>

      <section class="section-2">
        <div class="flecha"><div class="flecha_hija"></div></div>
        <article>
          <h3 class="h3-fort-deb">Fortalezas</h3>
          <p class="parrafo-3-4">Qué nos diferencia y hace un equipazo</p>
        </article>

        <article>
          <h3 class="h3-fort-deb">Debilidades</h3>
          <p class="parrafo-3-4">En qué estamos trabajando para mejorar</p>
        </article>
      </section>

      <section>
        <span class="QUINES-SOMOS"> QUIÉNES SOMOS </span>

        <include src=""></include>

        <article>
          <img
            class="imagen"
            src="./images/cris-muñiz.jpg"
            alt="imagen de cris"
          />
          <h3 class="nombres">Cristina Muñiz</h3>
          <p class="descripciones">Descripción de Cris</p>
          <nav class="nav-rrss">
            <ul class="rrss">
              <li class="dot">
                <a class="enlace-rrss" href="https://twitter.com/?lang=es" target="_blank">
                  <img
                    class="logo-rrss twitter"
                    src="./images/square-twitter.svg"
                    alt="Logo de Twitter"
                  />
                </a>
                
              </li>
              <li>
                <a 
                class="enlace-rrss"
                href="https://www.linkedin.com/feed/" target="_blank">
                  <img
                    class="logo-rrss linkedin"
                    src="./images/linkedin.svg"
                    alt="Logo de LinkedIn"
                  />
                </a>
              </li>
              <li>
                <a 
                class="enlace-rrss"
                href="https://github.com/" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/github.svg"
                    alt="Logo de GitHub"
                  />
                </a>
              </li>
              <li>
                <a 
                class="enlace-rrss"
                href="mailto: cristinamuniz85@gmail.com" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/envelope-regular.svg"
                    alt="Logo de Email"
                  />
                </a>
              </li>
            </ul>
          </nav>
        </article>

        <article>
          <img
            class="imagen"
            src="./images/maria-robles.jpg"
            alt="imagen de maria"
          />
          <h3 class="nombres">María Robles</h3>
          <p class="descripciones">Descrpción de María</p>
          <nav>
            <ul class="rrss">
              <li>
                <a href="https://twitter.com/?lang=es" target="_blank">
                  <img
                    class="logo-rrss twitter"
                    src="./images/square-twitter.svg"
                    alt="Logo de Twitter"
                  />
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/feed/" target="_blank">
                  <img
                    class="logo-rrss linkedin"
                    src="./images/linkedin.svg"
                    alt="Logo de LinkedIn"
                  />
                </a>
              </li>
              <li>
                <a href="https://github.com/" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/github.svg"
                    alt="Logo de GitHub"
                  />
                </a>
              </li>
              <li>
                <a href="mailto: roblesb.maria@gmail.com" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/envelope-regular.svg"
                    alt="Logo de Email"
                  />
                </a>
              </li>
            </ul>
          </nav>
        </article>

        <article>
          <img
            class="imagen"
            src="./images/suelen.jpg"
            <!-- alt="imagen de suelen"
          />
          <h3 class="nombres">Suelen Ranucci</h3>
          <p class="descripciones">Descripción de Suelen</p>
          <nav>
            <ul class="rrss">
              <li>
                <a href="https://twitter.com/?lang=es" target="_blank">
                  <img
                    class="logo-rrss twitter"
                    src="./images/square-twitter.svg"
                    alt="Logo de Twitter"
                  />
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/feed/" target="_blank">
                  <img
                    class="logo-rrss linkedin"
                    src="./images/linkedin.svg"
                    alt="Logo de LinkedIn"
                  />
                </a>
              </li>
              <li>
                <a href="https://github.com/" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/github.svg"
                    alt="Logo de GitHub"
                  />
                </a>
              </li>
              <li>
                <a href="mailto: suelenranucci@gmail.com" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/envelope-regular.svg"
                    alt="Logo de Email"
                  />
                </a>
              </li>
            </ul>
          </nav>
        </article> -->

        <article>
          <img class="imagen" src="./images/Celia.jpg" alt="imagen de celia" />
          <h3 class="nombres">Celia Suarez</h3>
          <p class="descripciones">Descripción de Celia</p>
          <nav>
            <ul class="rrss">
              <li>
                <a href="https://twitter.com/?lang=es" target="_blank">
                  <img
                    class="logo-rrss twitter"
                    src="./images/square-twitter.svg"
                    alt="Logo de Twitter"
                  />
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/feed/" target="_blank">
                  <img
                    class="logo-rrss linkedin"
                    src="./images/linkedin.svg"
                    alt="Logo de LinkedIn"
                  />
                </a>
              </li>
              <li>
                <a href="https://github.com/" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/github.svg"
                    alt="Logo de GitHub"
                  />
                </a>
              </li>
              <li>
                <a href="mailto: celiam.suarez19@gmail.com" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/envelope-regular.svg"
                    alt="Logo de Email"
                  />
                </a>
              </li>
            </ul>
          </nav>
        </article>

        <article>
          <img class="imagen" src="./images/kathi.jpg" alt="imagen de kathi" />
          <h3 class="nombres">Katherina Mansilla</h3>

          <p class="descripciones">Descrpción de Kathi</p>
          <nav>
                <nav>
            <ul class="rrss">
              <li>
                <a href="https://twitter.com/?lang=es" target="_blank">
                  <img
                    class="logo-rrss twitter"
                    src="./images/square-twitter.svg"
                    alt="Logo de Twitter"
                  />
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/feed/" target="_blank">
                  <img
                    class="logo-rrss linkedin"
                    src="./images/linkedin.svg"
                    alt="Logo de LinkedIn"
                  />
                </a>
              </li>
              <li>
                <a href="https://github.com/" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/github.svg"
                    alt="Logo de GitHub"
                  />
                </a>
              </li>
              <li>
                <a href="mailto: mansillakatherina@gmail.com" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/envelope-regular.svg"
                    alt="Logo de Email"
                  />
                </a>
              </li>
            </ul>
          </nav>
        </article>

        <article>
          <img
            class="imagen"
            src="./images/rebeca.png"
            alt="imagen de rebeca"
          />
          <h3 class="nombres">Rebeca Serrano</h3>
          <p class="descripciones">descripción de Rebeca</p>
              <nav>
            <ul class="rrss">
              <li>
                <a href="https://twitter.com/?lang=es" target="_blank">
                  <img
                    class="logo-rrss twitter"
                    src="./images/square-twitter.svg"
                    alt="Logo de Twitter"
                  />
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/feed/" target="_blank">
                  <img
                    class="logo-rrss linkedin"
                    src="./images/linkedin.svg"
                    alt="Logo de LinkedIn"
                  />
                </a>
              </li>
              <li>
                <a href="https://github.com/" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/github.svg"
                    alt="Logo de GitHub"
                  />
                </a>
              </li>
              <li>
                <a href="mailto: reba4@hotmail.es" target="_blank">
                  <img
                    class="logo-rrss github"
                    src="./images/envelope-regular.svg"
                    alt="Logo de Email"
                  />
                </a>
              </li>
            </ul>
          </nav>
        </article>
      </section>
    </main>