<section>
  <img src="" alt="" />
  <!-- Imagen de fondo representativa del grupo | Página principal -->
  <p>Lema del equipo</p>
</section>

<section class="section-1">
  <article>
    <h2 class="equipo">EQUIPO</h2>
    <div class="parrafo">
      <p>
        ahjaoighas Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
        rutrum ullamcorper mauris, vel convallis metus eleifend in. Cras
        hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat
        convallis. Morbi interdum neque et aliquam varius.
      </p>
      <p class="parrafo2">
        Vivamus feugiat eu sem sed eleifend. Morbi efficitur lorem eget justo
        sodales feugiat. Vestibulum tristique sed ante semper elementum. Orci
        varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus.
      </p>
    </div>
  </article>
  <section class="section-2">
    <div class="flecha"><div class="flecha_hija"></div></div>
    <article>
      <h3 class="h3-fort-deb">Fortalezas</h3>
      <p class="parrafo-3-4">Qué nos diferencia y hace un equipazo</p>
    </article>

    <article>
      <h3 class="h3-fort-deb">Debilidades</h3>
      <p class="parrafo-3-4">En qué estamos trabajando para mejorar</p>
    </article>
  </section>
</section>
