/* PARTE DE CONTACTO */

.hero-contact {
    height: 300px;
    background-image: url(../images/contact.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center top;
    
}
.art1-contacto {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.art1-contacto h2 {
    width: 127px;
    height: 45px;
    font-size: 1.5rem;
    font-weight:500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #099d8d;

}

.art1-p1 {
    width: 290px;
    height: 144px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    text-align: center;
}

.art1-p2 {
    font-size: 12px;
    width: 290px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;

}

.asterisco {
    color: #14d9c4;
}

/* PARTE DEL FORMULARIO */
.art2 {
    padding-top: 84px;
    padding-bottom: 60px;
    width: 290px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Open Sans', sans-serif ;

}
 .formulario {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    
}
.caja{
   height: 45px;
} 
.boton {
    background-color:#099d8d;

}