/*PARTE DEL FOOTER*/

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 30px 0 45px 0;
}

.copy {
    color: #b8b8b9;
}

.menufooter {
    margin: 20px 0 30px 0;
    line-height: 1.43
}

.menufooter a {
    color: #54585a;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}


