.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 30px 0 45px 0;
}

.copy {
    color: #b8b8b9;
}

.menufooter {
    margin: 20px 0 30px 0;
    line-height: 1.43;
}

.menufooter a {
    color: #54585a;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.imagen {
    width: 180px;
    height: 180px;
    margin: auto;
    border-radius: 4px;
    display: block;

    border: lightgrey solid 5px;
}

.copy {
    color: #b8b8b9;
}

.rrss {
    width: 124px;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 17px;
}

.rrss li {
    position: relative;
}

.rrss li::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    background-color: black;
    height: 2px;
    margin-top: -1px;
    width: 2px;
    border-radius: 50%;
}

.rrss li:last-child::before {
    display: none;
}

.logo-rrss {
    width: 18px;
    height: 30px;
}
