.hero {
    height: 80vh;
    display: flex;
    align-items: flex-end;
    background-image: url(../images/imagenheroprincipal.jpg);
    background-size: cover;
    margin-bottom: 45px;
    &__box{
        padding: 16px;
        margin: 0 16px;
        background-color: #fff;
        font-size: 18px;
        color: #000;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        line-height: 25px;
        margin-bottom: -45px;
        @media screen and (min-width: 768px) {
            opacity: 0.8;
            margin: 0;
            position: relative;
            left: 46px;
        }
        @media screen and (min-width: 1024px) {
            left: 138px;
        }
    }
}
