.hero {
    height: 80vh;
    display: flex;
    align-items: flex-end;
    background-image: url(../images/imagenheroprincipal.jpg);
    background-size: cover;
    margin-bottom: 45px;
    // position: relative;
    
   /* &::before {
        content: "";
        background-image: url(../images/imagenheroprincipal.jpg);
        background-size: cover;
        opacity: 1;
}   
}*/



}  
.hero-box {
    // width: 100%;
    padding: 16px;
    margin: 0 16px;
    background-color: #fff;
    font-size: 18px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: -45px;
    }

@media screen and (min-width: 768px) {
    .hero-box {
        opacity: 0.8;
        margin: 0;
        position: relative;
        left: 46px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-box {
        left: 138px;
    }
}
    
