.QUINES-SOMOS {
    font-size: 1.375rem;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    line-height: 2.05;
    text-align: center;
    color: #099d8d;
    display: block;
    padding: 30px 15px 0 15px;
}

.nombres {
    margin: 15px 70.5px 0 72.5px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: center;
    color: var(black);
}

.descripciones {
    margin: 60px 0 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #54585a;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    
}
.columna_central {
    margin: 0 15px;
  }

  .imagen {
    width: 180px;
    height: 180px;
    margin: auto;
    border-radius: 4px;
    display: block;
    border: lightgrey solid 5px;
}
  .rrss {
    width: 124px;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 17px;
}

.rrss li {
    position: relative;
}

.rrss li::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    background-color:#099d8d;
    height: 2px;
    margin-top: -1px;
    width: 2px;
    border-radius: 50%;
}

.rrss li:last-child::before {
    display: none;
}

.logo-rrss {
    width: 18px;
    height: 30px;
}

.enlace-rrss{
    
}
